body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.logout {
    background-color: #ff4d4d;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: #e60000;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.carousel {
    position: relative;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    display: none;
    text-align: center;
}

.carousel-item.active {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.ti-comunica {
    margin-top: 20px;
}

.ti-comunica-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ti-comunica-link:hover {
    background-color: #0056b3;
}

.carousel img {
    width: 100%;        /* A imagem ocupa 100% da largura do container do item do carrossel */
    max-width: 600px;   /* Define um tamanho máximo para a imagem */
    height: auto;       /* Mantém a proporção da imagem */
    border-radius: 8px; /* Arredonda os cantos da imagem, se necessário */
    object-fit: cover;  /* Faz com que a imagem ocupe totalmente o espaço do container sem deformar */
    margin-bottom: 15px; /* Espaço abaixo da imagem para o conteúdo */
    display: block;     /* Garante que a imagem seja exibida como bloco, sem espaços extras ao redor */
    margin-left: auto;  /* Centraliza a imagem dentro do container */
    margin-right: auto; /* Centraliza a imagem dentro do container */
}