<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designers</title>
    <link rel="stylesheet" href="{% static 'css/designers.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}"class='nav-item'>Home</a>
            <a href="{% url 'lojas' %}" class="nav-item">Lojas</a>
            <a href="{% url 'chats' %}" class="nav-item">Chats</a>
            <a href="{% url 'descubra' %}" class="nav-item">Descubra</a>
            <a href="{% url 'logout' %}" class="nav-item logout">Logout</a>
        </div>
    </nav>

    <div class="container">
        <h1>Designers</h1>
        <p>Conteúdo específico para a área de designers.</p>
    </div>
</body>
</html>