<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'lojas' %}" class="nav-item">Lojas</a>
            <a href="{% url 'chats' %}" class="nav-item">Chats</a>
            <a href="{% url 'logout' %}" class="nav-item logout">Logout</a>
        </div>
    </nav>
<!--NOTICIAS-->
    <div class="movies-section"> 
        <h2>NOTICIAS</h2>
        <div class="movie-carousel">

            <div class="movie-card">
                <img src="{% static 'img/noticia1.jpg' %}" alt="Capa filme A teia">
                <div class="movie-info">
                    <p>Hipervigilância ou segurança?</p>
                    <p>Conheça as 'muralhas digitais' que estão sendo adotadas no Brasil todo</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('A teia', '14.95', 'filmes_acao/ateia.jpg')">Ir para noticia</button>
                </div>
            </div>

            <div class="movie-card">
                <img src="{% static 'img/noticia2.jpg' %}" alt="Capa filme infiltrado">
                <div class="movie-info">
                    <p>Drones inteligentes</p>
                    <p>Software para drones com IA pode revolucionar missões de busca e resgate</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('Infiltrado', '14.95', 'filmes_acao/infiltrado.jpg')">Ir para noticia</button>
                </div>
            </div>

            <div class="movie-card">
                <img src="{% static 'img/noticia3.jpg' %}" alt="Capa filme zona_de_risco">
                <div class="movie-info">
                    <p>Erros da IA?</p>
                    <p>ChatGPT pode discriminar pessoas dependendo do nome, diz estudo da OpenAI</p>
                    <button id="btn2" onclick="adicionarAoCarrinho()">Ir para noticia</button>
                </div>
            </div>

            <div class="movie-card">
                <img src="./filmes_acao/rambo_ate_o_fim.jpg" alt="Capa filme ate o fim">
                <div class="movie-info">
                    <p>Ate o fim</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho()">Ir para noticia</button>
                </div>  
            </div>

            <div class="movie-card">
                <img src="./filmes_acao/implacavel.jpg" alt="Capa filme zona_de_risco">
                <div class="movie-info">
                    <p>Zona de risco</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('Zona de risco', '14.95', 'filmes_acao/zona_de_risco.jpg')">Ir para noticia</button>
                </div>       
            </div>

            <div class="movie-card">
                <img src="./filmes_acao/007.png" alt="Capa filme 007">
                <div class="movie-info">
                    <p>007</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('007', '14.95', 'filmes_acao/007.png')">Ir para noticia</button>
                </div>       
            </div>

        </div>
    </div>
<!--NOTICIAS-->
    <!--CURSOS-->
    <div class="movies-section"> 
        <h2>CURSOS</h2>
        <div class="movie-carousel">

            <div class="movie-card">
                <img src="./filmes_comedia/apaixonada.jpg" alt="Capa filme apaixonada">
                <div class="movie-info">
                    <p>Apaixonada</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('Apaixonada', '14.95', 'filmes_comedia/apaixonada.jpg')">Adicionar ao Carrinho</button>
                </div>
            </div>

            <div class="movie-card">
                <img src="./filmes_comedia/bem_casados.jpg" alt="Capa filme bem_casados">
                <div class="movie-info">
                    <p>Bem casados</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('Bem casados', '14.95', 'filmes_comedia/bem_casados.jpg')">Adicionar ao Carrinho</button>
                </div>
            </div>

            <div class="movie-card">
                <img src="./filmes_comedia/o_porteiro.jpg" alt="Capa filme o_porteiro">
                <div class="movie-info">
                    <p>O porteiro</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('O porteiro', '14.95', 'filmes_comedia/o_porteiro.jpg')">Adicionar ao Carrinho</button>
                </div>
            </div>

            <div class="movie-card">
                <img src="./filmes_comedia/juntos_e_enrolados.jpg" alt="Capa filme juntos_e_enrolados">
                <div class="movie-info">
                    <p>Juntos e enrolados</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('Juntos e enrolados', '14.95', 'filmes_comedia/juntos_e_enrolados.jpg')">Adicionar ao Carrinho</button>
                </div>  
            </div>

            <div class="movie-card">
                <img src="./filmes_comedia/o_amor_nao_tem_tamanho.jpg" alt="Capa filme o_amor_nao_tem_tamanho">
                <div class="movie-info">
                    <p>O amor não tem tamanho</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('O amor não tem tamanho', '14.95', 'filmes_comedia/o_amor_nao_tem_tamanho.jpg')">Adicionar ao Carrinho</button>
                </div>  
            </div>

            <div class="movie-card">
                <img src="./filmes_comedia/chocante.jpg" alt="Capa filme chocante">
                <div class="movie-info">
                    <p>Chocante</p>
                    <p>R$14,95</p>
                    <button id="btn2" onclick="adicionarAoCarrinho('Chocante', '14.95', 'filmes_comedia/chocante.jpg')">Adicionar ao Carrinho</button>
                </div>  
            </div>

        </div>
    </div>
<!--CURSOS-->
       
 <!--BOOTCAMPS-->
 <div class="movies-section"> 
    <h2>BOOTCAMPS</h2>
        <div class="movie-carousel">
    
        <div class="movie-card">
            <img src="filmes/drama1.png" alt="Capa filme Carol">
            <div class="movie-info">
                <p>Carol (2015)</p>
                <p>R$14,95</p>
                <button id="btn1" onclick="adicionarAoCarrinho('Carol (2015)', '14.95', 'filmes/drama1.png')">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="movie-card">
            <img src="filmes/drama2.png" alt="Capa filem Olga">
            <div class="movie-info">
                <p>Olga (2004)</p>
                <p>R$14,95</p>
                <button id="btn2" onclick="adicionarAoCarrinho('Olga (2004)', '14.95', 'filmes/drama2.png')">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="movie-card">
            <img src="filmes/drama3.jpg" alt="Capa filme As Vantagens de Ser Invisível">
            <div class="movie-info">
                <p>As Vantagens de Ser Invisível</p>
                <p>R$14,95</p>
                <button id="btn3" onclick="adicionarAoCarrinho('As Vantagens de Ser Invisível (2012)', '14.95', 'filmes/drama3.jpg')">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="movie-card">
            <img src="filmes/drama3.jpg" alt="Capa filme As Vantagens de Ser Invisível">
            <div class="movie-info">
                <p>As Vantagens de Ser Invisível</p>
                <p>R$14,95</p>
                <button id="btn3" onclick="adicionarAoCarrinho('As Vantagens de Ser Invisível (2012)', '14.95', 'filmes/drama3.jpg')">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="movie-card">
            <img src="filmes/drama3.jpg" alt="Capa filme As Vantagens de Ser Invisível">
            <div class="movie-info">
                <p>As Vantagens de Ser Invisível</p>
                <p>R$14,95</p>
                <button id="btn3" onclick="adicionarAoCarrinho('As Vantagens de Ser Invisível (2012)', '14.95', 'filmes/drama3.jpg')">Adicionar ao Carrinho</button>
            </div>
        </div> 
        <div class="movie-card">
            <img src="filmes/drama3.jpg" alt="Capa filme As Vantagens de Ser Invisível">
            <div class="movie-info">
                <p>As Vantagens de Ser Invisível</p>
                <p>R$14,95</p>
                <button id="btn3" onclick="adicionarAoCarrinho('As Vantagens de Ser Invisível (2012)', '14.95', 'filmes/drama3.jpg')">Adicionar ao Carrinho</button>
            </div>
        </div>     
         <!--BOOTCAMPS-->
    </div>
</div>




</div>

</div>
    <!-- Mini página do carrinho -->
    <div id="cart-page" class="cart-page">
        <button onclick="closeCartPage()" class="close-button">Fechar</button>
        <h2>Seu Carrinho</h2>
        <ul id="cart-items-list"></ul>
        <span id="total-value"></span>
        <button onclick="enviarParaWhatsApp()" class="buy-button">Comprar via WhatsApp</button>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

    <script>



           $(document).ready(function(){
            $('.movie-carousel').slick({
                slidesToShow: 5, // Mostrar 5 filmes por slide
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                prevArrow: '<button type="button" class="slick-prev">Previous</button>',
                nextArrow: '<button type="button" class="slick-next">Next</button>',
                responsive: [
                    {
                        breakpoint: 1200, // Quebra em 1200px
                        settings: {
                            slidesToShow: 4 // Mostrar 4 filmes por slide
                        }
                    },
                    {
                        breakpoint: 992, // Quebra em 992px
                        settings: {
                            slidesToShow: 3 // Mostrar 3 filmes por slide
                        }
                    },
                    {
                        breakpoint: 768, // Quebra em 768px
                        settings: {
                            slidesToShow: 2 // Mostrar 2 filmes por slide
                        }
                    },
                    {
                        breakpoint: 480, // Quebra em 480px
                        settings: {
                            slidesToShow: 1 // Mostrar 1 filme por slide
                        }
                    }
                ]
            });
        });









    
    </script>
</body>
</html>