<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" name="username" required>
            
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
            
            <button type="submit">Entrar</button>
        </form>
        <p><a href="{% url 'recuperar_senha' %}">Esqueceu sua senha?</a></p>
        <p>Ainda não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se aqui</a>.</p>
    </div>
</body>
</html>