<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojas de Tecnologia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lojas.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}" class='nav-item'>Home</a>
            <a href="{% url 'chats' %}" class="nav-item">Chats</a>
            <a href="{% url 'logout' %}" class="nav-item logout">Logout</a>
        </div>
    </nav>

    <div class="container">
        <h1>Lojas de Tecnologia</h1>
        <p>Encontre as melhores lojas e ofertas.</p>

        <div class="product-list">
            <!-- Produtos -->
            <div class="product-card">
                <img src="{% static 'img/SmartphoneXYZ.png' %}" alt="Smartphone XYZ" class="product-image">
                <h2 class="product-title">Smartphone XYZ</h2>
                <p class="product-price">R$ 1.999,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Notebook.webp' %}" alt="Notebook Samsung" class="product-image">
                <h2 class="product-title">Notebook Samsung galaxy book</h2>
                <p class="product-price">R$ 3.499,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Fone.webp' %}" alt="Fones de Ouvido Wireless" class="product-image">
                <h2 class="product-title">Fones de Ouvido Wireless</h2>
                <p class="product-price">R$ 399,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Smartwatch.webp' %}" alt="Smartwatch 2024" class="product-image">
                <h2 class="product-title">Smartwatch 2024</h2>
                <p class="product-price">R$ 799,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Tablet.jpg' %}" alt="Tablet Pro 11" class="product-image">
                <h2 class="product-title">Tablet Pro 11"</h2>
                <p class="product-price">R$ 2.299,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Monitor.webp' %}" alt="Monitor 27\" 4K" class="product-image">
                <h2 class="product-title">Monitor 27" 4K</h2>
                <p class="product-price">R$ 1.199,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Teclado.webp' %}" alt="Teclado Mecânico RGB" class="product-image">
                <h2 class="product-title">Teclado Mecânico RGB</h2>
                <p class="product-price">R$ 399,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Mouse.jpg' %}" alt="Mouse Gamer" class="product-image">
                <h2 class="product-title">Mouse Gamer</h2>
                <p class="product-price">R$ 199,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Camera.webp' %}" alt="Câmera Digital 20MP" class="product-image">
                <h2 class="product-title">Câmera Digital 20MP</h2>
                <p class="product-price">R$ 1.499,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/Drones.avif' %}" alt="Drones HD" class="product-image">
                <h2 class="product-title">Drones HD</h2>
                <p class="product-price">R$ 2.999,00</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/CaixaDeSom.webp' %}" alt="Caixa de Som Bluetooth" class="product-image">
                <h2 class="product-title">Caixa de Som Bluetooth</h2>
                <p class="product-price">R$ 299,</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>
            <div class="product-card">
                <img src="{% static 'img/PcGame.avif' %}" alt="Computador Game" class="product-image">
                <h2 class="product-title">Computador Game</h2>
                <p class="product-price">R$ 299,</p>
                <button class="button">Adicionar ao Carrinho</button>
            </div>