<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alterar Senha</title>
</head>
<body>
    <h1>Alterar Senha</h1>
    <form method="post">
        {% csrf_token %}
        <label for="new_password1">Nova Senha:</label>
        <input type="password" name="new_password1" required>
        <br>
        <label for="new_password2">Confirmar Nova Senha:</label>
        <input type="password" name="new_password2" required>
        <br>
        <button type="submit">Alterar Senha</button>
    </form>
</body>
</html>