<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TI Comunica</title>
    <link rel="stylesheet" href="{% static 'css/ticomunica.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}"class='nav-item'>Home</a>
            <a href="{% url 'lojas' %}" class="nav-item">Lojas</a>
            <a href="{% url 'chats' %}" class="nav-item">Chats</a>
            <a href="{% url 'descubra' %}" class="nav-item">Descubra</a>
            <a href="{% url 'logout' %}" class="nav-item logout">Logout</a>
        </div>
    </nav>

    <div class="container">
        <h1>TI Comunica</h1>
        <p>Selecione uma das áreas abaixo:</p>
        <div class="links-container">
            <a href="{% url 'desenvolvedores' %}" class="link-item">Desenvolvedores</a>
            <a href="{% url 'designers' %}" class="link-item">Designers</a>
            <a href="{% url 'analista_dados' %}" class="link-item">Analistas de Dados</a>
            <a href="{% url 'qas' %}" class="link-item">QAs</a>
        </div>
    </div>
</body>
</html>